<div id= " <%= dom_id ad %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= ad.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= ad.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= ad.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% ad.images.each do |image| %>
      <%= image_tag(image, class:"max-w-xs h-auto") %>
    <% end %> 
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ad.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= ad.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= ad.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shipment:</strong>
    <%= ad.shipment %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ad", ad, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ad', edit_ad_path(ad), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
